@using Microsoft.AspNetCore.Identity;
@inject SignInManager<Users> signin
<ul class="navbar-nav">
    @if(signin.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" >@User.Identity!.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="UserLogout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="UserRegister">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="UserLogin">Login</a>
        </li>
    }
</ul>