@using AMS.ViewModel
@model AddAttendenceVM


@if (TempData["AlertMsg"]!=null)
{
    <div class="alert-success">

        @TempData["AlertMsg"]
        <button type="button" class="btn-close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

<form asp-action="AddAttendance" method="post" class="row ">

    <div class="col-3">
        <label for="Date" class="form-label">Date</label>
        <input type="Date" class="form-control" id="inputEmail4">
    </div>

    <div class="col-3">
        <label for="SubjectId" class="form-label">Subject</label>
        <select asp-for="SubjectId" class="form-control" asp-items="ViewBag.subjects"></select>

    </div>

    <div class="form-switch col-3">

        <label class="form-label" for="IsPresent">Is Present</label>
        <input asp-for="IsPresent"  style="margin-top:10px;margin-left:20px" class="form-check-input form-control" type="checkbox" checked>

    </div>

    <div class="col-3">
        <input type="submit" value="Submit" class="btn btn-primary btn-sm" style="margin-top:35px"/>
    </div>

</form>



@* 
<table cellpadding="0" cellspacing="0">
    <tr>
        <th>SubjectName</th>
        <th>IsPresent</th>
        <th>IsAbsent</th>
        
    </tr>Customer customer in Model
    @foreach (AddAttendenceVM student in Model)
    {
        <tr>
            <td>@student.SubjectName</td>
            <td>@student.IsPresent</td>
            <td>@student.IsAbsent</td>
           
        </tr>
    }
</table> *@

<script src="~/js/site.js"></script>